:root {
  --color-primary: #0278a4;
  --color-text: #002d42;
  --color-inverted: black;
  --color-inverted-text: white;
  --spacing: 20px;
  --spacing-small: 8px;
  --spacing-large: 48px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  padding: var(--spacing);
  position: relative;
  color: var(--color-text);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.width--600 {
  max-width: 600px;
  margin: 0 auto var(--spacing);
}

.width--820 {
  max-width: 820px;
  margin: 0 auto var(--spacing);
}

section > * + * {
  margin-top: var(--spacing-large);
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-inverted);
  white-space: nowrap;
}

@media all and (min-width: 700px) {
  h1 {
    font-size: 40px;
    line-height: 62px;
  }
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

li {
  font-size: 20px;
  margin: var(--spacing) 0;
}

.lead {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

@media all and (min-width: 900px) {
  .lead {
    font-size: 24px;
    line-height: 33px;
  }
}

.logo {
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

@media all and (min-width: 900px) {
  .logo {
    margin-right: 10px;
    height: 60px;
    width: 60px;
  }
}

.subheading {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  font-size: 18px;
  line-height: 22px;
  border-radius: 3px;
  padding: var(--spacing-small) var(--spacing);
  text-decoration: none;
  transition: transform 150ms ease, background 150ms ease;
}

.button--primary {
  color: var(--color-inverted-text);
  background-color: var(--color-primary);
}

.button--inverted {
  color: var(--color-inverted-text);
  background-color: var(--color-primary);
}

.button--inverted:hover {
  background-color: var(--color-text);
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 50, 0.1);
}

.button--outline {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.button--outline:hover {
  color: var(--color-text);
  border: 1px solid var(--color-text);
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 50, 0.1);
}

.button__icon {
  margin-right: var(--spacing-small);
  transform: translateY(0);
}

.button-group {
  padding: var(--spacing-large) 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * var(--spacing));
  margin-left: calc(-1 * var(--spacing));
}

.button-group > * {
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
}

.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.align-left {
  text-align: left;
}

.unstyled-list li {
  margin-bottom: var(--spacing);
}

.section-icon {
  margin-bottom: 10px;
  margin-right: calc(var(--spacing) / 2);
  display: block;
}

@media all and (min-width: 900px) {
  .section-icon {
    margin-left: calc(-2 * var(--spacing));
    margin-bottom: -3px;
    display: inline;
  }
}

.callout {
  margin-top: calc(2 * var(--spacing));
  margin-bottom: calc(2 * var(--spacing));
  padding: 20px;
  background: #f9fcff;
  box-shadow: 0px 7px 14px rgba(50, 50, 93, 0.1),
    0px 3px 6px rgba(0, 0, 7, 0.07);
  border-radius: 10px;
  border-left: 5px solid var(--color-primary);
}

@media all and (min-width: 900px) {
  .callout {
    padding: 60px 110px 60px 105px;
  }
}

.callout h2 {
  margin-top: 0;
}

.callout p:last-of-type {
  margin-bottom: 0;
}

.demo {
  position: relative;
  height: 360px;
  width: 100%;
  background: url(../img/device.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.notification {
  background: url(../img/notification.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 70px;
  z-index: 1;
  width: 100%;
  height: 140px;
  right: -2px;
  transition: all 200ms ease-in-out;
  transition-delay: 500ms;
  opacity: 0;
  transform: translateY(100%) scale(0.8);
}

.notification--visible {
  transform: translateY(0);
  opacity: 1;
}

.subdued {
  font-size: 16px;
}
