<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="manifest" href="/manifest.json" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <link rel="stylesheet" href="/css/normalize.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap"
  />
  <link rel="stylesheet" href="/css/main.css" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content='{{ i18n "twitter_title" }}' />
  <meta name="twitter:description" content='{{ i18n "twitter_description" }}' />
  <meta
    name="twitter:image"
    content="https://covidshield.app/img/twitter-card.png"
  />

  <meta name="theme-color" content="#fafafa" />
</head>
